html {
  scroll-behavior: smooth;
}

body {
  font-family: "DM Sans", sans-serif;
  background-color: #f5f5f7;
}

.hero {
  height: 100vh;
  z-index: -10;
}

.nav-link {
  color: black;
  transition: all;
  transition-duration: 300ms;
}
.nav-link:hover {
  color: hsl(0deg, 97%, 62%);
  font-weight: bold;
}

a.anchor {
  display: block;
  position: relative;
  top: -70px;
  visibility: hidden;
}

.ourservice {
  margin-top: 5rem;
  padding-bottom: 2rem;
}
.ourservice .card {
  box-shadow: 5px 5px 20px 1px #eee;
  height: 10rem;
  border-radius: 30px;
  background-color: white;
  transition: all ease-in-out;
  transition-duration: 300ms;
}
.ourservice .card .icon.hovered {
  transition-duration: 500ms;
  scale: 1.1;
}
.ourservice .card:hover {
  scale: 1.1;
  background-color: #ffa5a5;
}

.question .card {
  box-shadow: 5px 5px 20px 1px #eee;
  border-radius: 10px;
  background-color: white;
  padding: 1rem;
}

.purpose .card {
  background: linear-gradient(319.6deg, rgb(243, 0, 79) 20.5%, rgb(255, 236, 68) 110.9%);
  box-shadow: 5px 5px 20px 1px #eee;
  border-radius: 10px;
  padding: 2rem;
}

.portfolio {
  background-color: white;
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.portfolio .card {
  box-shadow: 5px 5px 20px 1px #eee;
  border-radius: 10px;
  background-color: white;
  padding: 1rem;
}

.client {
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.client .card {
  box-shadow: 5px 5px 20px 1px #eee;
  border-radius: 10px;
  background-color: white;
  padding: 1rem;
}
.client .imagelogo {
  -o-object-fit: contain;
     object-fit: contain;
  filter: grayscale(100%);
  cursor: pointer;
  transition: all;
  transition-duration: 300ms;
}
.client .imagelogo:hover {
  filter: none;
}

.kontak {
  background-color: white;
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.kontak .link {
  transition: all;
  transition-duration: 300ms;
  cursor: pointer;
}
.kontak .link:hover {
  color: hsl(0deg, 97%, 62%);
}

.link {
  transition: all;
  transition-duration: 300ms;
  display: block;
  cursor: pointer;
  color: #333;
}
.link:hover {
  color: black;
  font-weight: bold;
}

.footer {
  background-color: #ffe0e0;
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.footer .title {
  color: black;
  font-weight: bold;
  margin-bottom: 1rem;
  font-size: 1.2rem;
}
.footer .content {
  color: #333;
}
.footer .link {
  transition: all;
  transition-duration: 300ms;
  display: block;
  cursor: pointer;
  color: #333;
}
.footer .link:hover {
  color: black;
  font-weight: bold;
}
.footer .iconsocial {
  width: 40px;
  height: 40px;
  margin-right: 5px;
  display: inline-block;
  cursor: pointer;
  transition: all;
  transition-duration: 300ms;
  color: #333;
}
.footer .iconsocial:hover {
  scale: 1.1;
  color: black;
}

.button {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  background-color: hsl(0deg, 97%, 62%);
  color: white;
  border-radius: 50px;
  box-shadow: 5px 5px 5px #ddd;
  z-index: 100;
  cursor: pointer;
  transition: all;
  transition-duration: 300ms;
}
.button:hover {
  scale: 1.1;
  color: #ffa5a5;
}

.button-sm {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: hsl(0deg, 97%, 62%);
  color: white;
  border-radius: 50px;
  box-shadow: 5px 5px 5px #ddd;
}

.question {
  margin-top: 7rem;
}

.acc1 {
  animation-name: example;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  height: 5%;
  left: 15%;
  bottom: 60%;
}
@keyframes example {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(20deg);
    scale: 1.1;
  }
  75% {
    transform: rotate(-20deg);
  }
  100% {
    transform: rotate(0deg);
    scale: 1;
  }
}

.acc2 {
  animation-name: breath;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  top: 23%;
  left: 30%;
  height: 8%;
}
@keyframes breath {
  25% {
    scale: 1.1;
  }
  100% {
    scale: 1;
  }
}

.acc3 {
  animation-name: moveslightly;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  top: 23%;
  right: 30%;
  height: 8%;
}

@keyframes moveslightly {
  25% {
    transform: translate(10px, 20px);
  }
  50% {
    transform: translate(20px, 10px);
  }
  100% {
    transform: translate(0, 0);
  }
}
.acc4 {
  animation-name: upndown;
  animation-duration: 7s;
  animation-iteration-count: infinite;
  bottom: 10%;
  left: 20%;
  height: 27%;
}

@keyframes upndown {
  50% {
    transform: translate(0, 10px);
  }
  100% {
    transform: translate(0, 0);
  }
}
.acc5 {
  animation-name: breath;
  animation-duration: 7s;
  animation-iteration-count: infinite;
  bottom: 20%;
  right: 40%;
  height: 10%;
}

.acc6 {
  animation-name: upndown;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  bottom: 10%;
  right: 22%;
  height: 15%;
}